
*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    
    
}
header{
    background-color: rgba(208, 243, 16, 0.926);
    height: 50px;
    display: flex;
    
}
header img{
    padding-top: 2px;
    padding-left: 50px;
}

header h1{
    font-family:'Lusitana', serif;
    color:rgb(145, 23, 175);
    text-align: left;
    padding-top: 25px;
    padding-left: 7px;
    font-size: 17px;
    font: bolder;
    
    
}
.capa{
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    position: relative;
    background-color: rgb(13, 37, 253);
}
.capa::before{
    content: '';
    background-image: url("https://media.gettyimages.com/id/1157027353/es/foto/juego-de-la-banda-del-mariachi.jpg?s=612x612&w=0&k=20&c=LvmG41i50PNv_bB6Y6qtT0AI62WQty2L-jovLACIApc=");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    position: absolute;
    background-attachment: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    
    opacity: 0.60;

    }
    .capa h2{

        font-size: 60px;
        font-family: sans-serif;
        
        text-align: left;
        position: relative;
        color: rgb(250, 249, 251);
        
        

    }
    .capa p{
        font-size: 20px;
        font-family: sans-serif;
        align-items: flex-end;
        bottom: 50px;
        flex: auto;
        position: absolute;
        text-align: center;
        
        color: rgb(250, 249, 251);
        
    }
.contactoAqp{
    background-color: rgb(102, 35, 210);
}
    .contactos{
        width: 100%;
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 20px;
        justify-content: space-around;
        /*padding-left: 15%;
        padding-right: 15%;*/
        /*position: relative;*/
    }
    
    .llamar{

        
        
        display: flex;
        justify-content:center;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 0%;
        
       
    }
       .llamar a {
        
    
        
    
        text-align: center;
        font-size: 30px;
        color: aliceblue;
        background-color: rgba(75, 206, 19, 0.922);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        text-decoration: none;
        line-height: 80px;
        /*ine-height: 80px;*/
        box-shadow: 2px 2px 5px rgb(0,0, .5); 
        
       }
        
       .whatsapp{

        
        
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 20px;
        padding-right: 0px;
        
        
        
       
       

    }
       .whatsapp a {
        
    
        
        font:bolder;
        text-align: center;
        font-size: 30px;
        color: aliceblue;
        background-color: rgba(104, 15, 173, 0.885);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        text-decoration: none;
        line-height: 50px;
        
        box-shadow: 2px 2px 5px rgb(0,0, .5); 
        
       }
       .whatsapp p{
        text-align: center;
        font-size: 12px;
        line-height: 45px;
        padding-top: 1px;
       }
    
       .facebook{

        
        
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
        padding-top: 20px;
       
    }
       .facebook a{
        font-family: 'Lusitana', serif;
        font-family: 'Marck Script', cursive;
        font-family: 'Roboto', sans-serif;
    
        text-align: center;
        font-size: 60px;
        color: aliceblue;
        background-color: #134eceeb;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        text-decoration: none;
        line-height: 80px;
        box-shadow: 2px 2px 5px rgb(0,0, .5); 
        
       }


   
   #precio{
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    padding-bottom: 20px;
    color: black;

   }
   
   
   
   .amenizamos{
    background-color: orange;
    text-align: center;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    
   }
   .amenizamos h3{
    font-family:'Lusitana', serif;
    font: bold;
    color:rgb(255, 255, 255);
    padding-top: 10px;
    font-size: 29px;
   }
   
    .contenedor2{

        padding-top: 0px;
        padding-bottom: 0px;
        

        
    }
    
    .galery1{
        min-height: 100vh;
        display: flex;
        justify-content:center;
        align-items:center;
        position: relative;
        border-radius: 10px;
        
        left: 0px;
        right: 0px;
        border-top: 10px;
        background-color: rgb(49, 118, 6);

    }
    .galery1::before{
        content: '';
        background-image: url("https://github.com/Mariachis-Arequipa/Guadalajara/blob/main/imagenes/matrimonio.jpg?raw=true");
        align-items: center;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        position: absolute;
        border-radius: 10px;
        
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 10px;
        
        
        opacity: 0.60;
    
        }
    .galery1 h2{
    
        font-size: 40px;
        font-family: sans-serif;
        text-align: center;
        text-align: left;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        color: aliceblue;
        font: bold;
        font: italic;
            
            
    
        }
    .galery1 p{
            font-size: 20px;
            font-family: sans-serif;
            align-items: flex-end;
            bottom: 50px;
            flex: auto;
            position: absolute;
            text-align: center;
            padding-left: 15px;
            padding-right: 15px;
            font: bold;
            color:aliceblue;

            
        }
    
    
    .galery2{
            min-height: 100vh;
            display: flex;
            justify-content:center;
            align-items:center;
            position: relative;
            border-radius: 10px;
            
            left: 0px;
            right: 0px;
            border-top: 10px;
            background-color: rgb(96, 9, 125);
    
        }
    .galery2::before{
            content: '';
            background-image: url("https://github.com/Mariachis-Arequipa/Guadalajara/blob/main/imagenes/mami.jpg?raw=true");
            align-items: center;
            background-repeat: no-repeat;
            background-size:cover;
            background-position: center;
            position: absolute;
            border-radius: 10px;
            padding-top: 10px;
            top: 10px;
            left: 10px;
            bottom: 10px;
            right: 10px;
            
            
            opacity: 0.60;
        
            }
    .galery2 h2{
        
            font-size: 40px;
            font-family: sans-serif;
            text-align: end;
            text-align: left;
            position: relative;
            color: aliceblue;
            padding-left: 15px;
            padding-right: 15px;
            font: bold;
            font: italic;
                
                
        
            }
    .galery2 p{
                font-size: 20px;
                font-family: sans-serif;
                align-items: flex-end;
                bottom: 50px;
                flex: auto;
                position: absolute;
                text-align: center;
                padding-left: 15px;
                padding-right: 15px;
                font: bold;
                
                color: aliceblue;
                
            }
        
    .galery3{
        min-height: 100vh;
        display: flex;
        justify-content:center;
        align-items:center;
        position: relative;
        border-radius: 10px;
        
        left: 0px;
        right: 0px;
        border-top: 10px;
        background-color: rgb(10, 119, 134);

    }
    .galery3::before{
        content: '';
        background-image: url("https://github.com/Mariachis-Arequipa/Guadalajara/blob/main/imagenes/pedida_de_mano.jpeg?raw=true");
        align-items: center;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        position: absolute;
        border-radius: 10px;
        
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 10px;
        
        
        opacity: 0.60;
    
        }
     .galery3 h2{
    
        font-size: 40px;
        font-family: sans-serif;
        text-align: center;
        text-align: left;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        color: aliceblue;
        font: bold;
        font: italic;
            
            
    
        }
    .galery3 p{
            font-size: 20px;
            font-family: sans-serif;
            align-items: flex-end;
            bottom: 50px;
            flex: auto;
            position: absolute;
            text-align: center;
            padding-left: 15px;
            padding-right: 15px;
            font: bold;
            color:aliceblue;

            
        }
    
        
     .galery4{
        min-height: 100vh;
        display: flex;
        justify-content:center;
        align-items:center;
        position: relative;
        border-radius: 10px;
        
        left: 0px;
        right: 0px;
        border-top: 10px;
        background-color: rgb(139, 238, 77);

    }
    .galery4::before{
        content: '';
        background-image: url("https://github.com/Mariachis-Arequipa/Guadalajara/blob/main/imagenes/quincea%C3%B1era9.jpg?raw=true");
        align-items: center;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        position: absolute;
        border-radius: 10px;
        
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 10px;
        
        
        opacity: 0.60;
    
        }
    .galery4 h2{
    
        font-size: 40px;
        font-family: sans-serif;
        text-align: center;
        text-align: left;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        color: aliceblue;
        font: bold;
        font: italic;
            
            
    
        }
    .galery4 p{
            font-size: 20px;
            font-family: sans-serif;
            align-items: flex-end;
            bottom: 50px;
            flex: auto;
            position: absolute;
            text-align: center;
            padding-left: 15px;
            padding-right: 15px;
            font: bold;
            color:aliceblue;

            
        }
    
    .galery5{
            min-height: 100vh;
            display: flex;
            justify-content:center;
            align-items:center;
            position: relative;
            border-radius: 10px;
            
            left: 0px;
            right: 0px;
            border-top: 10px;
            background-color: rgb(139, 238, 77);
    
        }
    .galery5::before{
            content: '';
            background-image: url("imagenes/quinceañera9.jpg");
            align-items: center;
            background-repeat: no-repeat;
            background-size:cover;
            background-position: center;
            position: absolute;
            border-radius: 10px;
            
            top: 10px;
            left: 10px;
            bottom: 10px;
            right: 10px;
            
            
            opacity: 0.60;
        
            }
    .galery5 h2{
        
        font-size: 20px;
        font-family: sans-serif;
        text-align: end;
        text-align: left;
        position: relative;
        color: rgb(250, 249, 251);
                
                
        
            }
    .galery5 p{
                font-size: 12px;
                font-family: sans-serif;
                align-items: flex-end;
                bottom: 50px;
                flex: auto;
                position: absolute;
                text-align: center;
                padding-left: 15px;
                padding-right: 15px;
                
                color: rgb(250, 249, 251);
                
            } 
    .galery6{
                min-height: 100vh;
                display: flex;
                justify-content:center;
                align-items:center;
                position: relative;
                border-radius: 10px;
                
                left: 0px;
                right: 0px;
                border-top: 10px;
                background-color: rgb(139, 238, 77);
        
            }
    .galery6::before{
        content: '';
        background-image: url("imagenes/reconciliaciones.jpg");
        align-items: center;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        position: absolute;
        border-radius: 10px;
                
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 10px;
                
                
        opacity: 0.60;
            
        }
    .galery6 h2{
            
        font-size: 20px;
        font-family: sans-serif;
        text-align: end;
        text-align: left;
        position: relative;
        color: rgb(250, 249, 251);
                    
                    
            
                }
    .galery6 p{
        font-size: 12px;
        font-family: sans-serif;
        align-items: flex-end;
        bottom: 50px;
        flex: auto;
        position: absolute;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
                    
        color: rgb(250, 249, 251);
                    
                } 
    .galery7{
        min-height: 100vh;
        display: flex;
        justify-content:center;
        align-items:center;
        position: relative;
        border-radius: 10px;
                    
        left: 0px;
        right: 0px;
        border-top: 10px;
        background-color: rgb(139, 238, 77);
            
        }
    .galery7::before{
        content: '';
        background-image: url("imagenes/papa.jpeg");
        align-items: center;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        position: absolute;
        border-radius: 10px;
                    
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 10px;
                    
                    
        opacity: 0.60;
                
            }
    .galery7 h2{
                
        font-size: 20px;
        font-family: sans-serif;
        text-align: end;
        text-align: left;
        position: relative;
        color: rgb(250, 249, 251);
                        
                        
                
           }
    .galery7 p{
        font-size: 12px;
        font-family: sans-serif;
        align-items: flex-end;
        bottom: 50px;
        flex: auto;
        position: absolute;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
                        
        color: rgb(250, 249, 251);
    
    
        } 


    .galery8{
        min-height: 100vh;
        display: flex;
        justify-content:center;
        align-items:center;
        position: relative;
        border-radius: 10px;
            
        left: 0px;
        right: 0px;
        border-top: 10px;
        background-color: rgb(49, 118, 6);
    
    }
    .galery8::before{
        content: '';
        background-image: url("imagenes/matrimonio.jpg");
        align-items: center;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        position: absolute;
        border-radius: 10px;
            
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 10px;
            
            
        opacity: 0.60;
        
            }
    .galery8 h2{
        
        font-size: 40px;
        font-family: sans-serif;
        text-align: center;
        text-align: left;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        color: aliceblue;
        font: bold;
        font: italic;
                
                
        
            }
    .galery8 p{
        font-size: 20px;
        font-family: sans-serif;
        align-items: flex-end;
        bottom: 50px;
        flex: auto;
        position: absolute;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        font: bold;
        color:aliceblue;
    
                
    }



    
    .container_footer{

        background-color:darkorchid;
        padding-bottom: 20px;
        padding-top: 20px;
        
        
    } 
    .container_footer p{

        text-align: center;
        color: aliceblue;
    }
    #arequipa{
        padding-top: 10px;
    }
    
    


    



    /* Diseño escritorio: de 769 px hasta un máximo de 1232 px.  Hereda estilos de: Diseño móvil y Diseño tableta. */


   
    

    
    



 @media only screen and (min-width: 769px) {

   
    header {
        background-color: rgb(83, 223, 233);
        height: 80px;
    }
    header h1{
        font-family:'Lusitana', serif;
        color: rgb(246, 246, 246);
        text-align: left;
        padding-top: 40px;
        padding-left: 20px;
        font-size: 35px;
    }
 
   
    
    .capa h2 {
        
        text-align: center;
        font-family: 'Marck Script', cursive;
        font-size: 130px;
        color: #f47a08f0;
        
        
    }
    #p1{
        text-align: center;
        font-family: 'Marck Script', cursive;
        font-size: 50px;
        padding-top: 0px;
        color: rgb(246, 246, 246); 
        padding-bottom: 30px;

    }  
    img{
     
        display: block; margin: auto;
        border-radius: 10px;
        
                
        } 
    section p{
            font-size: 50px;
            
            text-align:center;
            padding-bottom: 1px;
            color: rgb(255, 255, 255);
        
        
         }     
    aside{
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: aquamarine;
        text-align: center;
        color: red;
        font-size: 22px;
        width: 100%;
        /*float: right;
        height: 610px;*/
       }
    
    aside p{

        padding-top: 10px;
    }
    
       #precio1{
        text-align: center;
        padding-top: 700px;
        font-size: 80px;
        padding-bottom: 80px;
    
       }
    .contactos{

        display: flex;
        justify-content: center;
    }

       .contactos img{
        display: block; margin: auto;
        width: 300px;
        height: 100px;
        padding-bottom: 30px;
        margin: 0px 50px;
        
        
    
       }
       .facebook{

        
        
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 20px;
       
    }
       .facebook a{
        font-family: 'Lusitana', serif;
        font-family: 'Marck Script', cursive;
        font-family: 'Roboto', sans-serif;
    
        text-align: center;
        font-size: 90px;
        color: aliceblue;
        background-color: #134eceeb;
        
        border-radius: 50%;
        text-decoration: none;
        line-height: 110px;
        box-shadow: 2px 2px 5px rgb(0,0, .5); 
        
       }
        .contenedor2{
    
        background-color: coral;
        padding-bottom: 40px;
        }
        .contenedor2 h2{
    
            font-size: 70px;
            padding-bottom: 20px;
            padding-top: 30px;
        }
        .contenedor2 img{
            display: block; margin: auto;
            width: 30%;
            height: 30%; 
                    
        }
        
        
            
        
        .container_footer{
    
            background-color:darkorchid;
            padding-bottom: 20px;
            padding-top: 20px;
            
            
        } 
        .container_footer p{
    
            text-align: center;
            color: aliceblue;
        }
        #arequipa{
            padding-top: 10px;
        }



 }
